.layoutBlock {

  &__wrap {

    &_header {}

    &_aboutProduct {}

    &_dignity {}

    &_screenshots {}

    &_reviews {}

    &_buyItNow {}

    &_contacts {}

    &_footer {}
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 49px;
    box-sizing: border-box;

    &_header {}

    &_aboutProduct {}

    &_dignity,
    &_reviews {
      background-color: #f5f5f5;
    }

    &_dignity {
      padding-bottom: 14px;
    }

    &_screenshots {
      padding-bottom: 17px;
    }

    &_reviews {
      padding: 25px;
    }

    &_buyItNow {}

    &_contacts {
      justify-content: center;
      background-color: #445162;
    }

    &_footer {
      display: block;
      padding: 0;
    }
  }
}